.title {
    display: flex;
    background-color: aqua;
    height: 60px;
}

.calendar-container {
    margin-top: 20px;
    height: calc(100vh - 60px);
    position: fixed;
    left: 0;
    right: 0;
}